@charset "UTF-8";

	/* 共通 */

      *{
		  padding: 0;
		  margin:0;
	  }

	  main{
		  min-height:85vh;
		  padding:60px;
	  }
	  
	  .container{
		 background-color:#EDEDED;
		  padding:60px;
		  width:100%;
		  max-width:1200px;
		  min-height:70vh;
		  margin:0 auto;
		  border-radius: 10px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
	  }
	  
	  .site_title , .section_title{
		  font-size: 24px;
		  line-height: 100px;
		  letter-spacing: 2px;
	  }
	  
	  
	  a{
		  text-decoration: none;
	  }
	  
	  a:hover{
		  opacity: .7;
	  }
	  
	  li{
		 list-style: none;
		 margin-left:30px;
		 }
		 
		 
	  /* header */
	  
	   header , footer{
		  height:100px;
	  }
	  
	  header ul{
		  display: flex;
	  }
	  
	  footer p {
		  text-align: center;
	  }
	  	  
	  #header_inner{
		  display: flex;
		  justify-content: space-between;
		  width: 1200px;
		  margin:0 auto;
		  line-height: 100px;
		  
	  }
	 
	  
	  
	  .header_left a:hover {
			 opacity: .7;
		 }
		 
	 .header_right a{
		 padding: 5px;
		 border-bottom: 1px solid transparent;
		  transition :border-bottom 0.8s ease;
	 }
	 
	  .header_right a:hover {
		border-bottom: 1px solid rgb(34, 35, 35);

		 }
	 

	  
	  header a {
		   color:rgb(34, 35, 35);
	  }
	  
	  #message{
		  font-weight: bold;
		  font-weight: 12px;
		  padding-bottom:10px;
		  padding-left:100px;
	  }
	  
	   #section_title{
		  font-size: 24px;
		  line-height: 100px;
		  letter-spacing: 2px;
	  }
	  
	  
	  
	  /* form関係 */
	  
	  form{
		  width: 100%;
		  max-width:600px;
		  margin:0 auto;
	  }
	  
	  label{
		    padding-left: 30px;
		    display:inline-block;
		    width:100%;
		    max-width: 150px;
		}
	 
	 .container input, select, textarea{
	    max-width: 400px;
	    width:100%;
	    height: 50px;
	    margin:0 auto;
	    margin-top: 16px;
	    padding-left:5px;
	}
	
	#submit{
		display: inline-block;
		background-color:rgb(99, 98, 92);
		color:#fff;
		font-weight:bold;
		max-width: 600px;
		height:60px;
		margin-top:40px;
		border: none;
	}
	
	.back{
		margin-top:40px ;
		font-size: 12px;
		text-align: center;
		line-height: 60px;
	}
	
	.back a{
		font-size: 16px;
		color:rgb(99, 98, 92);
	}
	
	.caption{
		padding-left:180px;
		font-size: 12px;
		font-weight: bold;
	}
	
	.error_message{
		padding-left:180px;
		font-size: 14px;
		font-weight: bold;
		color:rgb(184, 47, 16)
	}
	
	/* type=numberのスピンボタンを消す */
	.no_spin::-webkit-inner-spin-button,
.no_spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}